<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics />
    <system.serviceModel>
        <diagnostics>
            <messageLogging logEntireMessage="true" />
        </diagnostics>
        <bindings>
            <basicHttpBinding>
                <binding name="StreamedHttpBinding" sendTimeout="00:10:00" maxReceivedMessageSize="204003200"
                    messageEncoding="Mtom" transferMode="Streamed">
                    <security>
                        <transport>
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WCFVisualizer.VisualizerServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="WCFVisualizer.VisualizerServiceBehavior"
                name="WCFVisualizer.VisualizerService">
                <endpoint address="" binding="basicHttpBinding" bindingConfiguration="StreamedHttpBinding"
                    name="ep0" contract="WCFVisualizer.IVisualizerService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8731/Design_Time_Addresses/WCFVisualizer/VisualizerService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
